.fio, .datetime, .comment
{
	padding:15px 0 15px 25px;
	width:450px;
}

.fio, .datetime
{
	background-color:rgba(0, 145, 96, .6);	
}

.comment
{
	border:1px solid blue;
	background-color:rgba(58, 226, 206, .4);
}